[Unit]
Description=Run borg backup
ConditionACPower=true
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/bou "%i" cron
IOSchedulingClass=idle
