[Unit]
Description=Run borg backup
ConditionACPower=true
Requires=nm-online-exit.service
After=nm-online-exit.service

[Service]
Type=oneshot
ExecStart=/usr/bin/cpulimit -m -f -l 50 -- /usr/local/bin/bou "%i" cron
IOSchedulingClass=idle
Nice=19
CPUQuota=50%
