[Unit]
Description=Sync gmail
Requires=nm-online-exit.service
After=nm-online-exit.service

[Service]
Type=oneshot
ExecStart=/usr/bin/gmi sync
WorkingDirectory=/home/jak/mail/account.gmail/
IOSchedulingClass=idle

[Install]
WantedBy=default.target
