[user]
	email = jak@debian.org
	name = Julian Andres Klode
[color]
	ui = auto
[alias]
	cd = diff -p --stat
[push]
	default = simple
[merge "dpkg-mergechangelogs"]
	name = debian/changelog merge driver
	driver = dpkg-mergechangelogs %O %A %B %A
[merge "merge-po"]
	name = po merger
	driver = git-merge-po.sh %O %A %B
[tag]
	sort = version:refname

# SSH everywhere
[url "git@github.com:"]
  insteadOf = "git://github.com/"
  insteadOf = "https://github.com/"

[url "git@bitbucket.org:"]
	insteadOf = "git://bitbucket.org/"
	insteadOf = "https://bitbucket.org/"

[url "git+ssh://git.debian.org/"]
	insteadOf = "https://anonscm.debian.org/"
