# Ignore non-dotfiles
/[^.]*
/.local/share
*.lock

# Ignore the git directory (renamed to .hgit to not confuse git)
/.hgit

# Encrypted Private
/.Private
/.ecryptfs

# Ignored Applications
/.config
/.gconf
/.gnome2
/.gnome
/.android
/.aptitude
/.aqbanking
/.avidemux6
/.eclipse
/.etracer
/.gimp-*
/.hplip
/.ipython
/.java
/.mozilla
/.openttd
/.pylint.d
/.subversion
/.wine
/.wxMaxima
/.links2
/.w3m
/.swipl-dir-history
/.scalaide
/.adobe
/.etr
/.dlv
/.vscode

# Caches and friends
/.cache
/.caff
/.fontconfig/*cache*
/.devscripts_cache
/.launchpadlib/*/cache
/.gstreamer-*/registry*.bin
/.ghc/*-linux-*
/.aria2/dht.dat
/.cabal/packages
/.texmf-var
/.sbt
/.ivy2/cache
/.newsrc
/.thumbnails


# Sockets and friends
/.ICEauthority
/.dbus
*_socket_*
/.byobu/.ssh-agent

# Logs
*.log
/.xsession-errors*
/.viminfo
/.*_history
/.lesshst
/.bazaar/shell-history
/.ghc/ghci_history
/.nano/*_history
/.w3m/history

# Evil stuff
/.get_iplayer/
/.swfinfo

# Encryption
/.ssh/id_*
/.ssh/known_hosts
/.ssh/authorized_keys
/.gnupg/
/.pki

# Accounting
/.hledger*

# Sitecopy remote state and configuration - includes passwords :(
/.sitecopy
/.sitecopyrc
