[user]
	email = jak@debian.org
	name = Julian Andres Klode
[color]
	ui = auto
[alias]
	cd = diff -p --stat
[push]
	default = simple
[merge "dpkg-mergechangelogs"]
	name = debian/changelog merge driver
	driver = dpkg-mergechangelogs -m %O %A %B %A
