[user]
	email = jak@jak-linux.org
	name = Julian Andres Klode
[color]
	ui = auto
[alias]
    cd = diff -p --stat
    pushf = push --force-with-lease
[push]
	default = simple
[merge "dpkg-mergechangelogs"]
	name = debian/changelog merge driver
	driver = dpkg-mergechangelogs %O %A %B %A
[merge "merge-po"]
	name = po merger
	driver = git-merge-po.sh %O %A %B
[tag]
	sort = version:refname

# SSH everywhere
[url "git@github.com:"]
	pushInsteadOf = "git://github.com/"
	insteadOf = "https://github.com"

# SSH everywhere
[url "git@gitlab.com:"]
	pushInsteadOf = "git://gitlab.com/"
	insteadOf = "https://gitlab.com"

[url "git@gist.github.com:"]
	insteadOf = "https://gist.github.com/julian-klode/"

[url "git@bitbucket.org:"]
	pushInsteadOf = "git://bitbucket.org/"
	pushInsteadOf = "https://bitbucket.org/"


[url "git@salsa.debian.org:"]
	pushInsteadOf = "https://salsa.debian.org/"
[gitubuntu]
	lpuser = juliank

[url "ssh://juliank@git.launchpad.net/"]
    insteadOf = lp:
    insteadOf = https://git.launchpad.net/
[init]
	defaultBranch = main
[pull]
    ff = only

[filter "gpg"]
    clean = "gpg --encrypt --recipient jak@debian.org -a"
    smudge = "gpg --decrypt"
[credential "https://salsa.debian.org"]
	helper = 
	helper = !/usr/bin/glab auth git-credential

[includeIf "gitdir:~/Projects/Debian/**"]
	path = ~/.config/git/debian.inc
[includeIf "gitdir:~/Projects/Ubuntu/**"]
	path = ~/.config/git/ubuntu.inc
