[Desktop Entry]
Comment=WeeChat on server
Name=WeeChat
Exec=gnome-terminal --disable-factory --class weechat --name weechat --app-id org.weechat.weechat --title WeeChat -- env MOSH_TITLE_NOPREFIX=1 mosh --family=prefer-inet6 --ssh="ssh -i /home/jak/.ssh/weechat_id_rsa -o IdentitiesOnly=yes" weechat@magenta.jak-linux.org -- tmux attach -t irc
Type=Application
Icon=weechat
StartupWMClass=weechat
StartupNotify=true
MimeType=x-scheme-handler/weechat
