[Desktop Entry]
Comment=WeeChat on server
Name=WeeChat (SSH)
Exec=gnome-terminal --disable-factory --class weechat-ssh --name weechat-ssh --app-id org.weechat.weechat-ssh --title WeeChat -- ssh -i /home/jak/.ssh/weechat_ssh_id_rsa -o IdentitiesOnly=yes -t weechat@magenta.jak-linux.org -- tmux attach -dt irc
Type=Application
Icon=weechat
StartupWMClass=weechat-ssh
StartupNotify=true
MimeType=x-scheme-handler/weechat
